
/*imagenes animacion*/
.view {
  width: 950px;
  height: 915px;
  margin: 0px;
  float: left;
  position: relative;
  text-align: center; 
  cursor: default;
  object-position: bottom;

}
.view .mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}
.view img {
  display: block;
  position: relative;
  object-fit:cover;
}
.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0
}
.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}
.view a.info:hover {
  box-shadow: 0 0 5px #000
}
.view-first img { 
  transition: all 0.2s linear;
}
.view-first .mask {
  opacity: 0;
  background: url(equipos_2.jpg) padding-box center; 
  transition: all 0.4s ease-in-out ;
}
.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first img { 
transform: scale(1);
} 
.view-first:hover .mask { 
opacity: 1;
}
.view-first:hover h2,
.view-first:hover a.info{
  opacity: 1;
  transform: translateY(0px);
}
.view-first a.info{
  opacity: 0;
transition: all 0.2s ease-in-out;
}
.view-first:hover a.info {
  transition-delay: 0.2s;
}

.view-second img { 
  transition: all 0.2s linear;
}
.view-second .mask {
  opacity: 0;
  background: url(oscar.jpg) padding-box center; 
  transition: all 0.4s ease-in-out ;
}
.view-second h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-second img { 
transform: scale(1);
} 
.view-second:hover .mask { 
opacity: 1;
}
.view-second:hover h2,
.view-second:hover a.info{
  opacity: 1;
  transform: translateY(0px);
}
.view-second a.info{
  opacity: 0;
transition: all 0.2s ease-in-out;
}
.view-second:hover a.info {
  transition-delay: 0.2s;
}
/*fondo*/
html{
  background-color: #beb9b9;
}
