/*posicionamiento header*/
header{
    text-align: right;
}
header h3{
    float: right;
}
/*posicionamento del html en general*/
nav{
    text-align: left;
    border: 1px solid black;
    margin-right: 85%;
    position: absolute;
}
main{
    margin-left: 15%;
    position:relative;
    text-align: left;
}
footer{
    margin-left: 15%;
    position:static;
    top:1000px;
}
/*posicionamiento de lo de dentro del main*/
article{
    border: 1px solid black;
    text-align: left;
}
.medio img{
    float: right;
 }
 .medio{
     margin: 1%;
 }
 /*fondo del HTML*/
html{
    background-image: url(fondo1.jpg);
}
/*para el menu*/
ul{
    list-style: none;
}
/*diseño boton ver mas*/
.boton{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid rgba(220,220,220,1);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0,0,0,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(141,151,155,0.9);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(90,90,90,1) ;
    box-shadow: 2px 2px 2px 0 rgba(90,90,90,1) ;
}
/*fuente*/
p{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Merriweather', serif;
}
h3{
    font-family: 'Lora', serif;
}