
/*codigo imagen*/
.view {
    width: 600px;
    height: 500px;
    margin: 0px;
    float: left;
    position: relative;
    text-align: center;
    cursor: default;
    object-position: bottom;
    
}
.view .mask, .view .content {
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0;
}
.view img {
    display: block;
    position: relative;
    object-fit: fill;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background: url(creators.png) padding-box center; 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img { 
	transform: scale(1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2{
    opacity: 1;
    transform: translateY(0px);
}

.view-second img { 
    transition: all 0.2s linear;
}
.view-second .mask {
    opacity: 0;
    background: url(cs_go.png) padding-box center; 
    transition: all 0.4s ease-in-out ;
}
.view-second h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-second:hover img { 
	transform: scale(1);
} 
.view-second:hover .mask { 
	opacity: 1;
}
.view-second:hover h2{
    opacity: 1;
    transform: translateY(0px);
}

.view-tres img { 
    transition: all 0.2s linear;
}
.view-tres .mask {
    opacity: 0;
    background: url(fortnite.gif) padding-box center; 
    transition: all 0.4s ease-in-out;
}
.view-tres h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-tres:hover img { 
	transform: scale(1);
} 
.view-tres:hover .mask { 
	opacity: 1;
}
.view-tres:hover h2{
    opacity: 1;
    transform: translateY(0px);
}

.view-cuatro img { 
    transition: all 0.2s linear;
}
.view-cuatro .mask {
    opacity: 0;
    background: url(Rainbow.jpg) padding-box center; 
    transition: all 0.4s ease-in-out;
}
.view-cuatro h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-cuatro:hover img { 
	transform: scale(1);
} 
.view-cuatro:hover .mask { 
	opacity: 1;
}
.view-cuatro:hover h2{
    opacity: 1;
    transform: translateY(0px);
}

.view-gracioso img { 
    transition: all 0.2s linear;
}
.view-gracioso .mask {
    opacity: 0;
    background: url(Rocket_League.jpg) padding-box center; 
    transition: all 0.4s ease-in-out;
}
.view-gracioso h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-gracioso img { 
	transform: scale(1);
} 
.view-gracioso:hover .mask { 
	opacity: 1;
}
.view-gracioso:hover h2{
    opacity: 1;
    transform: translateY(0px);
}

.view-seis img { 
    transition: all 0.2s linear;
}
.view-seis .mask {
    opacity: 0;
    background: url(valorant.png) padding-box center; 
    transition: all 0.4s ease-in-out;
}
.view-seis h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-seis img { 
	transform: scale(1);
} 
.view-seis:hover .mask { 
	opacity: 1;
}
.view-seis:hover h2{
    opacity: 1;
    transform: translateY(0px);
}

.view-siete img { 
    transition: all 0.2s linear;
}
.view-siete .mask {
    opacity: 0;
    background: url(simracing.jpg) padding-box center; 
    transition: all 0.4s ease-in-out;
}
.view-siete h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-siete img { 
	transform: scale(1);
} 
.view-siete:hover .mask { 
	opacity: 1;
}
.view-siete:hover h2{
    opacity: 1;
    transform: translateY(0px);
}

.view-ocho img { 
    transition: all 0.2s linear;
}
.view-ocho .mask {
    opacity: 0;
    background: url(lol.jpg) padding-box center; 
    transition: all 0.4s ease-in-out;
}
.view-ocho h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-ocho img { 
	transform: scale(1);
} 
.view-ocho:hover .mask { 
	opacity: 1;
}
.view-ocho:hover h2{
    opacity: 1;
    transform: translateY(0px);
}

.view-nueve img { 
    transition: all 0.2s linear;
}
.view-nueve .mask {
    opacity: 0;
    background: url(apex.jpg) padding-box center; 
    transition: all 0.4s ease-in-out;
}
.view-nueve h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-nueve img { 
	transform: scale(1);
} 
.view-nueve:hover .mask { 
	opacity: 1;
}
.view-nueve:hover h2{
    opacity: 1;
    transform: translateY(0px);
}
/*desplegable*/
.menu{
    overflow:visible;
    position: absolute;
    top: 0px;
    bottom: 500px;
    left:650px;
    right: 0px;
  }
  .menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .menu a {
    display: block;
    padding: 2em;
    background-color: #3a3939;
    text-decoration: none;
    color: #f0f3ff;
  }
  .menu a:hover {
    background-color: #a72727f5;
  }
  .menu ul li ul {
    display: none; 
  }
  .menu ul li a:hover + ul, .menu ul li ul:hover {
    display: block;
    overflow:auto;
  }

  /*fondo*/
html{
    background-color: #beb9b9;
  }