/*desplegable*/
.menu{
    overflow:visible;
    position: absolute;
    top: 0px;
    bottom: 500px;
    left:650px;
    right: 0px;
  }
  .menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .menu a {
    display: block;
    padding: 2em;
    background-color: #3a3939;
    text-decoration: none;
    color: #f0f3ff;
  }
  .menu a:hover {
    background-color: #a72727f5;
  }
  .menu ul li ul {
    display: none;
    
  }
  .menu ul li a:hover + ul, .menu ul li ul:hover {
    display: block;
    overflow:auto;
  }

  /*fondo*/
html{
  background-color: #beb9b9;
}

/*lo de imagenes*/
#contenedor1 {
  background: url("Fundadores.jpg") fixed;
  max-height: 100%;    
  height: 400px;
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background-size: cover;
}
 
#contenedor2 {
  background: url("Ocelote.jpg") fixed;
  max-height: 100%;
  height: 600px;
  position: relative;
  margin: 0 auto;
  padding: 5%; 
  overflow: hidden;
  background-size: cover;
}
 
#contenedor3 {
  background: url("Jens_Hilgers.jpeg") fixed;
  max-height: 100%;
  height: 600px;
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background-size: cover;
}
 
h1{
  text-align: center;
  margin-top: 150px;
  color:black;
  text-shadow: 2px 2px 5px white;
}
p{
  color: white;
  background-color: black;
  opacity: 0.6;
}